.ballance {
    height: 82vh;
}
.ballance-title {
    font-weight: 650;
    font-size: 35pt;
    width: 300px;
    margin-right: 40px;
    line-height: 47px;
}
.ballance-subtitle {
    font-size: 10pt;
    margin-right: 40px;
    width: 300px;
}
.rs {
    font-weight: 650;
    margin-left: 40px;
    font-size: 30pt;
    /* margin-right: -10px; */
}
#bal {
    font-size: 27pt;
    border: 0;
    font-weight: 600;
    width: 250px;
    margin-top: -15px;
}
.btn-save {
    padding: 10px;
    border-radius: 60px;
    background: rgb(142, 4, 240);
    color: white;
    border: 0;
    width: 250px;
    transition: 0.3s;
}
.btn-save:disabled {
    padding: 10px;
    border-radius: 60px;
    background: rgba(142, 4, 240, 0);
    border: 1px solid rgb(142, 4, 240);
    color: rgb(142, 4, 240);;
    width: 250px;
    transition: 0.3s;
}